
@media (min-width: 1200px)
{
    .container
    {
        max-width: 900px;
    }
}

body .container
{
    margin-top: -120px;
}

header
{
    background-color: rgb(61, 56, 56);
    color: white;
    position: sticky;
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgb(60, 39, 109);
    font-family: 'Orbitron';font-size: 22px;
    color: whitesmoke;
}

footer
{
    background-color: rgb(61, 56, 56);
    color: white;
    font-family: 'Roboto', sans-serif;
}

header #logheadAU img
{
    width: 100px;
    padding: 10px;
    transition: all 0.5s;
}

header #logheadAU img:hover
{
    opacity: 0.5;
    background-color: rgb(182, 182, 182);
    border-radius: 15px;
    transition: background-color 0.5s;
}

#tittle
{
    font-family: 'Press Start 2P';font-size: 22px;
    background-color: rgb(44, 29, 78);
}

#banner img
{
    width: 95%;
    border-radius: 20px;
}

#member1 img
{
    width: 200px;
}

#link a img
{
    width: 45px;
    transition: all 0.5s;
}

#link a img:hover
{
    opacity: 0.5;
    transition: opacity 0.5s;
}

#logofooter img
{
    width: 100px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}